<h1>Login</h1>
<% if(messages.error) { %> <%= messages.error %> <% } %>
<form action="/login" method="POST">
  <div>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required />
  </div>

  <div>
    <label for="Password">Password</label>
    <input type="password" name="password" id="password" required />
  </div>

  <button type="submit">Login</button>
  <br />
  <a href="/register">Register</a>
</form>
